/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

html{
    font-family: 'Quicksand', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

h1{
    font-size: 3em;
}

a{
    color: lightblue;
}

.color-pink{
    color: rgb(211, 67, 112);
}

.padding-bottom{
    padding-bottom: 40px;
}


/* 
    BODY
*/

.container{
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
}

.columns > *{
    width: calc(100% / 3);
}

.card{
    float: left;
    background-color: rgb(15, 14, 22);
    width: calc(90% / 3);
    height: auto;
    color: white;
    margin-bottom: 30px;
    margin-right: calc(10% / 3);
    box-shadow: 2px 2px .3em rgb(15, 14, 22);
}

img{
    float: left;
    width: 120px;
    height: auto;
}

.text-card{
    display: inline-block;
    text-align: left;
}

.text-card > *, a{
    margin: 10px 0;
}